.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  color: #00cc66;
  text-shadow: 3px 3px 4px black;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #00cc66;
  border-radius: 5px;
  outline: none;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
}

.crypto-table th,
.crypto-table td {
  border: 2px solid #00cc66;
  padding: 10px;
  text-align: left;
}

.crypto-table th {
  background-color: #00cc66;
  color: black;
}
